@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
}

body{
    background: #fff ;
}

.bg{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #D06438;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-position: center;
}

.SkewedOne{
    position: absolute;
    bottom: -100%;
    left: 50%;
    width: 100%;
    height: 100%;
    background: #fff;
    transform: skewY(-15deg);
    transform-origin: top left;
}

.SkewedTwo{
    position: absolute;
    bottom: -100%;
    right: 50%;
    width: 100%;
    height: 100%;
    background: #fff;
    transform: skewY(15deg);
    transform-origin: top right;
}

.bg h2{
    position: relative;
    color: #fff;
    font-size: 5em;
    
}


section{
    position: relative;
    width: 100%;
    height: 100vh;
 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


.cards-grid {
    display: flex;
    grid-gap: 80px;
    padding-bottom: 60px;
  }
  
  
  .flip-card {
    width: 320px;
    height: 504px;
    perspective: 2000px;
  }
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    border-radius: 28px;
    transition: all 550ms cubic-bezier(0.1, 0.22, 0.8, 1.13);
    transform-style: preserve-3d;
  }
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 28px;
    backface-visibility: hidden;
  }
  .flip-card-front {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .flip-card-back {
    font-size: 1.25rem;
    text-align: center;
    display: grid;
    place-items: center;
    padding: 32px;
    background-color: #de514b;
    transform: rotateY(180deg);
  }
  .flip-card:hover .flip-card-inner {
    transform: rotateY(-180deg);
  }
  
  
  a{
    
     border: none;
  text-decoration: none;
     color: #fff;
  }


 footer{
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1rem 4%;
  background-color: #D06438;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 }

 
 .copyright{
  color: #fff;
  
  text-align: center;
 }